/* war.module.css */

.card {
  width: 100px;
  height: 140px;
  margin: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  background: white;
}

.gameBoard {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.playerArea {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.gameOver {
  text-align: center;
  font-size: 2em;
  color: red;
}

.button {
  padding: 10px;
  margin: 10px;
  background: #025511;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.button:hover {
  background: #025511;
}

.button:disabled {
  background: #025511;
  color: #aaa;
  cursor: not-allowed;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.modalBackdrop {
  @apply fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 flex justify-center items-center z-50;
}

.modal {
  @apply bg-white p-6 rounded-lg shadow-xl max-w-xl mx-auto relative z-50;
  width: 80%;
  max-height: 80vh;
  overflow-y: auto;
}

.modalContent {
  @apply text-black flex flex-col items-center justify-center;
  /* 追加: 高さを最大に設定 */
  height: 100%;
}

.modalText {
  @apply flex-grow flex-shrink;
  /* 追加: テキストを上に配置 */
  margin-bottom: auto;
}